@import '../Utils/_mixins.scss';

.login {
    &__container {
        @include absCenter;
        background-color: $color-white;
        width: 40%;
        padding: 7rem 2rem;
        box-shadow: 0 4px 8px 0 rgba($color-black, 0.2), 0 6px 20px 0 rgba($color-black, 0.19);
        z-index: 200;
        border-radius: 1rem;
        height: 70%;

        &--signup {
            height: 80%;
        }
    }

    &__content {
        width: 80%;
        margin: 10rem auto 0;
    }

    &__input-wrapper {
        margin: 0 auto;
        margin-top: 3rem;
        position: relative;
    }

    &__button-wrapper {
        text-align: center;
        margin-top: 5rem;
    }
}