.signup {
    &__type-container {
        margin: 10rem auto 0;
        width: 80%;
    }

    &__content {
        width: 80%;
        margin: 2rem auto 0;
    }
    &__main{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 150px;
        flex-direction: column;
        background-color: red;
    }
}