@import '../Utils/mixins';
@import '../Utils/variables';

.header {
    padding-top: 2rem;

    &__button-wrapper {
        display: flex;
        float: right;
        margin-right: 5rem;
        gap: 2rem;

        @include respond(mobile) {
            display: none;
        }

        @include respond(tab-port) {
            width: 40%;
            margin-right: 2rem;
        }
    }

    &__icon {
        &-wrapper {
            display: inline-block;
            margin-left: 3rem;
            margin-top: 1.2rem;
            cursor: pointer;
            width: 5rem;
            height: 5rem;
            text-align: center;

            @include respond(mobile) {
                z-index: 10;
                position: fixed;
                border-radius: 50%;
                box-shadow: 0 1rem 2rem rgba($color-black, .2);
                background-color: $color-white;
            }
        }
    }

    &__user {
        display: flex;
        justify-content: end;
        width: 80%;
        margin: 0 auto;
        padding-top: 3rem;

        @include respond(mobile) {
            display: none;
        }

        &-info {
            display: flex;
            align-items: center;

            &-wrapper {
                display: flex;
                position: relative;
            }
        }

        &-icon {
            font-weight: bold;
            font-size: 2rem;

            &:hover {
                color: $color-placeholder-default;
            }
        }

        &-name {
            font-weight: bold;
            font-size: 1.8rem;
            margin: 0 1.2rem;
        }

        &-picture {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}