@import '../Utils/mixins';
@import '../Utils/variables';
@import '~@djthoms/pretty-checkbox/src/pretty-checkbox.scss';

.map {
    &__container {
        @include absCenter;
        width: 95%;
        height: 90vh;
        margin-top: 3rem;
        box-shadow: rgba($color-black, 0.05) 0px 6px 24px 0px, rgba($color-black, 0.08) 0px 0px 0px 1.5px;
        border-radius: $default-form-border-radius;
        margin-bottom: 5rem;

        @include respond(mobile) {
            margin-top: 1rem;
        }
    }

    &__header {
        line-height: 5rem;
        padding: 4rem 2rem;
        height: 20rem;
        border-bottom: 1px solid $color-black;

        @include respond(mobile) {
            height: 25rem;
            line-height: 2rem;
            padding: 2rem;
        }
    }

    &__select {
        padding: 2rem;
    }
}

.leaflet-container {
    width: 100%;
    height: 80%;
    margin-top: 0rem;
}