@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

p, h1, h2, h3, h4, h5 {
  margin: 0; }

li {
  list-style-type: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sons-serif; }

.header__primary {
  font-size: 4.5rem; }

.header__secondary {
  font-size: 3.5rem; }
  @media (max-width: 56.25em) {
    .header__secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .header__secondary {
      font-size: 2.5rem; } }

.header__tertiary {
  font-size: 2.5rem; }

.header__fourth {
  font-size: 1.5rem; }

.header--hidden {
  display: none; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph--grey {
    color: #c7c7cd; }
  .paragraph--grid {
    font-size: 1.7rem; }
  .paragraph--large {
    font-size: 1.5rem; }
  .paragraph--post {
    font-size: 2.2rem; }

.hr {
  color: #000000; }

.icon--blue {
  color: #3761EE; }

.highlight-text {
  position: relative;
  margin-bottom: 2rem;
  margin-right: 1rem;
  font-size: 5rem;
  color: #ffffff; }
  @media (max-width: 75em) {
    .highlight-text {
      font-size: 4rem; } }
  @media (max-width: 37.5em) {
    .highlight-text {
      font-size: 2.6rem; } }
  .highlight-text--follow {
    font-size: 3rem;
    float: right;
    padding-top: 1rem; }
    @media (max-width: 75em) {
      .highlight-text--follow {
        font-size: 2rem; } }
    @media (max-width: 37.5em) {
      .highlight-text--follow {
        font-size: 1.5rem; } }

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1.4, 1.05) skewX(20deg);
  background-color: #000000; }
  @media (max-width: 75em) {
    .highlight::after {
      transform: scale(1.2, 1.05) skewX(20deg); } }
  @media (max-width: 56.25em) {
    .highlight::after {
      transform: scale(1.1, 1.05) skewX(20deg); } }

.u-text-center {
  text-align: center; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-padding-medium {
  padding: 2rem 0; }

.u-hidden {
  display: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveBackLeft {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    transform: translate(-100%, -50%); } }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes coverFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    margin-left: 0rem; }
  25% {
    margin-left: 1rem; }
  75% {
    margin-left: -1rem; }
  100% {
    margin-left: 0rem; } }

.login__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 40%;
  padding: 7rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 200;
  border-radius: 1rem;
  height: 80vh; }
  @media (max-width: 75em) {
    .login__container {
      width: 50%; } }
  @media (max-width: 56.25em) {
    .login__container {
      width: 60%; } }
  @media (max-width: 37.5em) {
    .login__container {
      width: 80%; } }
  .login__container--signup {
    height: 85%; }

.login__content {
  width: 80%;
  margin: 10rem auto 0; }

.login__input-wrapper {
  margin: 0 auto;
  margin-top: 3rem;
  position: relative; }

.login__button-wrapper {
  text-align: center;
  margin-top: 5rem; }

.signup__type-container {
  margin: 10rem auto 0;
  width: 80%; }

.signup__content {
  width: 80%;
  margin: 2rem auto 0; }

.signup__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  flex-direction: column;
  background-color: red; }

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: .5rem; }
  .slider__container-box {
    height: inherit;
    width: inherit;
    background-size: cover;
    transition: all 1s; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s; }
  .slide__content {
    height: inherit;
    background-size: cover; }
    .slide__content-text {
      position: absolute;
      top: 30%;
      left: 20%;
      transform: translate(-30%, -20%);
      text-transform: uppercase;
      height: 12rem; }
  .slide--0 {
    transform: translate(0%); }
  .slide--1 {
    transform: translate(100%); }
  .slide--2 {
    transform: translate(200%); }

.dots-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff; }
  .dot:not(:last-child) {
    margin-right: 1.5rem; }
  .dot--active {
    background-color: #000000; }

.form__input, .form__dropdown {
  display: block;
  border: none;
  font-size: 2rem;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  width: 100%;
  border-bottom: 2px solid #c7c7cd;
  transition: all .2s;
  padding: 1rem 2.2rem; }
  .form__input:focus, .form__dropdown:focus {
    outline: none; }

.form__dropdown--default {
  color: grey !important; }

.form__icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all .2s;
  position: absolute;
  top: 10px;
  right: 25px; }
  .form__icon:hover {
    color: #fc4445; }

.form__placeholder-icon {
  position: absolute;
  font-size: 2rem;
  bottom: 1.5rem;
  color: #c7c7cd; }

.form__footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); }
  .form__footer-text-button-wrapper {
    text-align: center; }

.image {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.text-area {
  outline: none;
  font-size: 1.5rem;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 1rem;
  resize: none; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  transition: all .2s;
  border: none;
  cursor: pointer;
  color: #ffffff; }

.btn:hover {
  transform: translateY(-5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.8);
    opacity: 0; }

.btn--primary {
  background-color: #5cdb95; }

.btn--login {
  background-color: #000000;
  width: 100%;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-transform: uppercase; }

.btn--header {
  background-color: #000000;
  padding: 1rem 1rem;
  font-size: 1.7rem;
  width: 15rem; }
  .btn--header-small {
    font-size: 1.4rem !important;
    width: 13rem !important;
    border-radius: 1rem; }

.btn--text {
  font-size: 1.3rem; }
  .btn--text, .btn--text:link, .btn--text:visited {
    text-decoration: none;
    transition: all .2s;
    border: none;
    cursor: pointer; }
  .btn--text-grey {
    color: #c7c7cd !important; }
    .btn--text-grey:hover {
      color: #000000 !important; }

.btn--animated {
  animation: moveInBottom 1s ease-out; }

.btn--hidden {
  display: none; }

.btn--sidebar {
  color: #000000 !important;
  font-size: 2.2rem;
  transform: none; }
  .btn--sidebar, .btn--sidebar:link, .btn--sidebar:visited {
    text-decoration: none; }

.btn--user-profile {
  background-color: #000000;
  padding: 1.4rem 2.5rem;
  font-size: 2rem;
  animation: fadeIn 1s ease-in; }
  @media (max-width: 75em) {
    .btn--user-profile {
      font-size: 1.7rem;
      padding: 1.2rem 2rem; } }

.btn--slide {
  color: #000000 !important;
  font-size: 2.2rem;
  text-transform: initial;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -20%);
  border-bottom: 1px solid #000000; }
  @media (max-width: 75em) {
    .btn--slide {
      font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .btn--slide {
      top: 40%;
      left: 30%;
      transform: translate(-40%, -30%);
      font-size: 1.5rem; } }
  .btn--slide, .btn--slide:link, .btn--slide:visited {
    text-decoration: none; }

.btn--icon {
  background-color: #000000;
  font-size: 1.7rem;
  padding: 1rem 1.4rem; }

.btn--post {
  background-color: #000000;
  padding: 1.5rem 1rem;
  font-size: 1.7rem;
  width: 20rem; }
  .btn--post-question {
    display: block;
    width: 10rem;
    margin: 2rem auto;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    background-color: #000000; }
  .btn--post-small {
    background-color: #000000;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    width: 12rem;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .btn--post-small {
        font-size: 1.4rem;
        width: 10rem; } }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }

.error__message {
  color: red;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.6rem; }

.user-radio-wrapper {
  display: inline-flex;
  height: 10rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 15px;
  margin-top: 5rem; }

.user-radio-wrapper .option {
  background: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1rem;
  border: 2px solid lightgrey;
  transition: all 0.3s ease; }

.user-radio-wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative; }

.user-radio-wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #000000;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease; }

.radio {
  display: none; }

.option span {
  font-size: 20px;
  color: #808080; }

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #000000;
  background: #000000; }

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff; }

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1); }

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff; }

.header {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 8rem;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .header--hidden {
    display: none; }
  .header--feed {
    position: relative; }
  .header__icon-wrapper {
    display: inline-block;
    margin-left: 3rem;
    margin-top: 1.2rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .header__icon-wrapper {
        position: fixed;
        left: 2%;
        top: 2%;
        z-index: 10;
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-color: #ffffff; } }
  .header__user {
    display: flex;
    justify-content: end;
    width: 80%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .header__user {
        padding-top: 3rem; } }
    .header__user-info {
      display: flex;
      align-items: center; }
      .header__user-info-wrapper {
        display: flex;
        position: relative; }
    .header__user-icon {
      font-weight: bold;
      font-size: 2rem;
      cursor: pointer; }
      .header__user-icon:hover {
        color: grey; }
    .header__user-name {
      font-weight: bold;
      font-size: 1.8rem;
      margin: 0 1.2rem; }
    .header__user-picture {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      object-fit: cover; }

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem; }
  .button-wrapper__button {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 1.8rem;
    padding: 1rem; }
    .button-wrapper__button:hover {
      color: #ffffff; }
    .button-wrapper__button--feed {
      color: #000000;
      border-bottom: 1px solid #000000; }
      .button-wrapper__button--feed:hover {
        color: #000000; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveBackLeft {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    transform: translate(-100%, -50%); } }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes coverFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    margin-left: 0rem; }
  25% {
    margin-left: 1rem; }
  75% {
    margin-left: -1rem; }
  100% {
    margin-left: 0rem; } }

.sidebar {
  position: fixed;
  top: 2rem;
  left: 0;
  height: 85%;
  width: 20%;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 1px 0 7px -2px #000000;
  animation: moveInLeft .5s ease-out;
  border-radius: 1rem; }
  @media (max-width: 75em) {
    .sidebar {
      width: 25%; } }
  @media (max-width: 56.25em) {
    .sidebar {
      width: 30%; } }
  @media (max-width: 37.5em) {
    .sidebar {
      width: 100%;
      height: 100%;
      top: 0; } }
  .sidebar__list {
    text-align: center;
    width: 90%;
    margin: 30% auto 0;
    list-style: none; }
    .sidebar__list--item {
      border-radius: 1rem;
      padding: 1rem 0;
      transition: all .2s; }
      .sidebar__list--item:hover {
        background-color: #000000; }
        .sidebar__list--item:hover > .btn--sidebar {
          color: #ffffff !important; }

.footer {
  width: 100%;
  border-top: 1px solid #c7c7cd;
  text-align: center;
  padding: 1rem 0; }

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3rem; }
  @media (max-width: 56.25em) {
    .grid {
      grid-template-columns: auto; } }
  .grid__element {
    height: 30rem;
    border-radius: 1rem;
    transition: all .2s; }
    .grid__element:hover {
      transform: translateY(-5%);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .grid__element:hover::after {
        transform: scaleX(1.5) scaleY(1.8);
        opacity: 0; }
    .grid__element--header {
      height: 70%;
      width: 80%;
      border-bottom: 1px solid #c7c7cd;
      margin: 0 auto;
      padding: 1rem 0; }
    .grid__element--footer {
      position: relative;
      height: 30%; }
      .grid__element--footer-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .grid__element--footer-wrapper > h3 {
          font-weight: 400;
          font-family: Ubuntu, sans-serif; }
  .grid__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    margin: auto; }

.bar__icon {
  position: relative; }
  @media (max-width: 37.5em) {
    .bar__icon {
      margin-top: 2.2rem; } }
  .bar__icon, .bar__icon::before, .bar__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #000000; }
    @media (max-width: 37.5em) {
      .bar__icon, .bar__icon::before, .bar__icon::after {
        width: 2rem; } }
  .bar__icon::before, .bar__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .bar__icon::before {
    top: -.8rem; }
  .bar__icon::after {
    top: .8rem; }

.arrow-icon {
  font-size: 2.7rem;
  color: #ffffff;
  padding: 1rem 1.2rem; }
  @media (max-width: 75em) {
    .arrow-icon {
      font-size: 2.2rem; } }
  @media (max-width: 56.25em) {
    .arrow-icon {
      font-size: 1.8rem; } }
  .arrow-icon__container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
    cursor: pointer; }
    .arrow-icon__container:hover {
      transform: translateY(-60%); }
    .arrow-icon__container--right {
      right: 3%; }
    .arrow-icon__container--left {
      left: 3%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveBackLeft {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    transform: translate(-100%, -50%); } }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes coverFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    margin-left: 0rem; }
  25% {
    margin-left: 1rem; }
  75% {
    margin-left: -1rem; }
  100% {
    margin-left: 0rem; } }

@media (max-width: 37.5em) {
  .home__content {
    margin-top: 0; } }

.home__slider-section {
  height: 65rem;
  width: 100%;
  margin-bottom: 10rem; }

.cover-container {
  min-height: 801px;
  background-size: cover;
  position: relative;
  transition: opacity .3s ease-in; }
  .cover-container--1 {
    background-image: linear-gradient(0deg, rgba(20, 24, 36, 0.2), rgba(20, 24, 36, 0.2)), url("../images/cover.jpg");
    animation: coverFadeIn 1s ease-in; }
  .cover-container--2 {
    background-image: linear-gradient(0deg, rgba(20, 24, 36, 0.2), rgba(20, 24, 36, 0.2)), url("../images/event-cover.jpg");
    animation: coverFadeIn 1s ease-in; }
  .cover-container--3 {
    background-image: linear-gradient(0deg, rgba(20, 24, 36, 0.2), rgba(20, 24, 36, 0.2)), url("../images/places-cover.jpg"); }
  .cover-container--hidden {
    opacity: 0; }

.highlighted {
  position: absolute;
  top: 20%; }
  .highlighted--left {
    left: 10%; }
  .highlighted--right {
    left: 10%; }
    @media (min-width: 768px) {
      .highlighted--right {
        right: 10%; } }
  .highlighted__text {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 400;
    font-family: Ubuntu, sans-serif; }
    @media (min-width: 768px) {
      .highlighted__text {
        font-size: 6rem; } }

.cover-buttons {
  display: flex;
  position: absolute;
  gap: 3rem;
  top: 45%; }
  .cover-buttons--left {
    left: 10%; }
  .cover-buttons--right {
    left: 10%; }
    @media (min-width: 768px) {
      .cover-buttons--right {
        right: 10%; } }
  .cover-buttons__link {
    color: #ffffff;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    transition: transform .1s ease-in; }
    @media (min-width: 768px) {
      .cover-buttons__link {
        font-size: 3rem; } }
    .cover-buttons__link:hover {
      color: #ffffff;
      transform: scale(1.1); }
    .cover-buttons__link > svg {
      margin-left: 1rem; }

.elderships {
  padding: 4rem 0; }
  .elderships > h1 {
    font-weight: 400;
    font-family: Ubuntu, sans-serif; }

.user-profile__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .user-profile__container {
      width: 95%;
      height: 70%; } }

.user-profile__picture-container {
  width: 50%;
  margin: 10% auto 0; }
  @media (max-width: 37.5em) {
    .user-profile__picture-container {
      height: 100%; } }

.user-profile__info-container {
  margin-top: 10%; }

.user-profile__header {
  height: 10%; }
  @media (max-width: 37.5em) {
    .user-profile__header > h2 {
      font-size: 3rem; } }

.user-profile__card {
  display: flex;
  flex-direction: row;
  height: 90%; }
  @media (max-width: 37.5em) {
    .user-profile__card {
      display: block; } }
  .user-profile__card--left {
    width: 30%;
    height: 95%;
    display: inline-block;
    border-right: 1px solid #c7c7cd; }
    @media (max-width: 37.5em) {
      .user-profile__card--left {
        display: block;
        width: 100%;
        height: 10%; } }
  .user-profile__card--right {
    width: 70%;
    height: 95%;
    display: inline-block;
    position: relative; }
    @media (max-width: 37.5em) {
      .user-profile__card--right {
        width: 100%;
        height: 80%; } }

.user-profile__input {
  background-color: inherit;
  padding: 0;
  cursor: default;
  pointer-events: none; }
  .user-profile__input--edit {
    border-color: #000000;
    color: #000000;
    pointer-events: initial; }
  .user-profile__input-container {
    width: 50%;
    position: relative;
    margin: 0 auto; }
    .user-profile__input-container:not(:first-child) {
      margin-top: 3rem; }

.user-profile__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #c7c7cd;
  transition: all .2s; }
  .user-profile__icon--black {
    color: #000000; }
  .user-profile__icon:hover {
    color: #000000; }

.user-profile__button-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }

.user-profile__dropdown {
  padding: 0; }
