@import '../../Utils/variables';
@import '../../Utils/mixins';

.eldership {
    &__content {
        width: 80%;
        min-height: 200rem;
        margin: 15rem auto;
        padding-bottom: 3rem;
        border-radius: 1rem;
        box-shadow: rgba($color-black, 0.05) 0px 6px 24px 0px, rgba($color-black, 0.08) 0px 0px 0px 1.5px;

        @include respond(mobile) {
            width: 90%;
        }   

        @include respond(mobile) {
            margin-top: 5rem;
        }
    }

    &__photo {
        background-size: cover;
        max-width: 100%;
        margin-top: -6.5rem;
        z-index: 10;

        @include respond(tab-port) {
            margin-top: -5rem;
        }

        @include respond(mobile) {
            margin-top: -4rem;
        }

        &-container {
            width: 13rem;
            height: 13rem;
            margin: 0 auto;

            @include respond(tab-port) {
                width: 10rem;
                height: 10rem;
            }

            @include respond(mobile) {
                width: 8rem;
                height: 8rem;
            }
        }
    }

    &__header {
        font-weight: bold;
        display: inline-block;

        &--content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            & > h1 {
                @include respond(tab-port) {
                    font-size: 3.8rem;
                    width: 100%;
                    text-align: center;
                }

                @include respond(mobile) {
                    font-size: 3rem;
                }
            }
        }

        &--buttons {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 2rem;

            & > a {
                @include respond(tab-port) {
                    font-size: 1.5rem;
                    padding: 1rem 1.3rem;
                    border-radius: 50%;
                    margin-top: 1rem;
                }

                @include respond(mobile) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.loading-spinner {
    @include contentSpinner;
}