@import '../../Utils/mixins';
@import '../../Utils/variables';

.post-form {
    &__container {
        @include absCenter;
        width: 40%;
        background-color: $color-white;
        border-radius: $default-form-border-radius;
        padding: 2rem;

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(tab-port) {
            width: 70%;
        }

        @include respond(mobile) {
            width: 80%;
        }
    }

    &__textarea {
        display: block;
        margin: 5rem auto;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-black;
        border-radius: 0;
    }

    &__buttons {
        float: right;

        & > a:first-child {
            margin-right: 2rem;
        }
    }
}