@import '../Utils/variables';


.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    border-radius: .5rem;
}

.slide {
    height: inherit;

    &__content {
        height: inherit;
        background-size: cover;

        &-text {
            position: absolute;
            top: 30%;
            left: 20%;
            transform: translate(-30%, -20%);
            text-transform: uppercase;
            height: 12rem;
        }
    }
}

.dots-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dot {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $color-white;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &--active {
        background-color: $color-black;
    }
}