@import 'variables';
@import '_mixins.scss';

.header {
    &__primary {
        font-size: 4.5rem;
    }

    &__secondary {
        font-size: 3.5rem;

        @include respond(tab-port) {
            font-size: 3rem;
        }

        @include respond(mobile) {
            font-size: 2.5rem;
        }
    }

    &__tertiary {
        font-size: 2.5rem;
    }

    &__fourth {
        font-size: 1.5rem;
    }

    &--hidden {
        display: none;
    }
}

.paragraph {
    font-size: 1.3rem;

    &--grey {
        color: $color-placeholder;
    }

    &--grid {
        font-size: 1.7rem;
    }

    &--large {
        font-size: 1.5rem;
    }

    &--post {
        font-size: 2.2rem;  
    }
}

.hr {
    color: $color-black;
}

.icon {
    &--blue {
        color: $color-blue-native;
    }
}

.highlight-text {
    position: relative;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-size: 5rem;
    color: $color-white;

    @include respond(tab-land) {
        font-size: 4rem;
    }

    @include respond(mobile) {
        font-size: 2.6rem;
    }

    &--follow {
        font-size: 3rem;
        float: right;
        padding-top: 1rem;

        @include respond(tab-land) {
            font-size: 2rem;
        }

        @include respond(mobile) {
            font-size: 1.5rem;
        }
    }
}


.highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(1.4, 1.05) skewX(20deg);
    background-color: $color-black;

    @include respond(tab-land) {
        transform: scale(1.2, 1.05) skewX(20deg);
    }

    @include respond(tab-port) {
        transform: scale(1.1, 1.05) skewX(20deg);
    }
}