$color-black: #000000;
$color-white: #ffffff;

$color-red: #fc4445;

$color-green: #5cdb95;
$color-dark-green: #00a389;

$color-placeholder: #c7c7cd;
$color-placeholder-default: grey;

$color-background-grey: #eeeeee;
$color-background-light: #d7cec7;
$color-paragraph-grey: #a2aab4;

$color-blue-native: #3761EE;


$default-form-border-radius: 1rem;
$default-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$name-blue-dark: #3a5162;
$name-grey: #b1c1cb;
$name-blue: #0176ff;

$background-light: #e8eae3;