@import '../Utils/variables';
@import '../Utils/mixins';

.message-form {

    &__container {
        @include absCenter;
        width: 40%;
        height: 50%;
        background-color: $color-white;
        border-radius: $default-form-border-radius;
    }

    &__content {
        text-align:center;
        padding: 9rem 5rem;
    }

    &__textarea {
        margin-top: 3rem;
        width: 100%;
    }

}