@import '../Utils/mixins';
@import '../Utils/variables';

.user-profile {
    &__container {
        @include absCenter;
        width: 70%;
        height: 60%;
        border-radius: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        @include respond(mobile) {
            width: 95%;
            height: 70%;
        }
    }

    &__picture {
        &-container {
            width: 50%;
            margin: 10% auto 0;

            @include respond(mobile) {
                height: 100%;
            }
        }
    }

    &__info {
        &-container {
            margin-top: 10%;
        }
    }

    &__header {
        height: 10%;

        & > h2 {
            @include respond(mobile) {
                font-size: 3rem;
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        height: 90%;

        @include respond(mobile) {
            display: block;
        }

        &--left {
            width: 30%;
            height: 95%;
            display: inline-block;
            border-right: 1px solid $color-placeholder;

            @include respond(mobile) {
                display: block;
                width: 100%;
                height: 10%;
            }
        }

        &--right {
            width: 70%;
            height: 95%;
            display: inline-block;
            position: relative;

            @include respond(mobile) {
                width: 100%;
                height: 80%;
            }
        }
    }

    &__input {
        background-color: inherit;
        padding: 0;
        cursor: default;
        pointer-events: none;

        &--edit {
            border-color: $color-black;
            color: $color-black;
            pointer-events: initial;
        }

        &-container {
            width: 50%;
            position: relative;
            margin: 0 auto;

            &:not(:first-child) {
                margin-top: 3rem;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 1.4rem;
        color: $color-placeholder;
        transition: all .2s;

        &--black {
            color: $color-black;
        }

        &:hover {
            color: $color-black;
        }
    }

    &__button {
        &-wrapper {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__dropdown {
        padding: 0;
    }
}